*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --dark-clr: rgb(41, 41, 41);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    letter-spacing: 1.25px;
}

h1, h2 {
    margin-top: 0;
}

img {
    max-width: 100%;
}

.logo-text {
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark-clr);
}

.nav__list {
    display: none;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__link {
    color: var(--dark-clr);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.85rem;
}

footer {
    width: 100%;
}

footer {
    flex-shrink: 0;
    margin: 0.75em 0 1.25em 0;
}

.copyright {
    font-weight: 300;
    font-size: 0.85rem;
}

.copyright p {
    margin: 0;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.small {
    width: 85%;
}

.footer__list {
    margin-bottom: 1em;
}

.footer__holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content p {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (min-width: 700px) {

    .nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav__item {
        margin: 0;
        padding: 0.25em 0.50em;
        margin-left: 1.75em;
    }

    .nav__highlighted {
        border: 2px solid rgb(88, 88, 88);
    }

    nav {
        width: 100%;
    }

    .nav__link {
        color: var(--dark-clr);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1rem;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__item {
        margin: 0;
        padding: 0.25em 0.50em;
    }

    .copyright {
        text-align: right;
    }

    .footer__holder {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__list {
        margin-bottom: 0;
    }

    .large {
        width: 85%;
    }
    
    .medium {
        width: 75%;
    }

    .small {
        width: 65%;
    }
}